<div class="filtro mb-3 d-flex align-items-center gap-2">
  <input 
    type="text" 
    class="form-control" 
    placeholder="Find by name" 
    [(ngModel)]="searchText"
  >
  <button 
    type="button" 
    class="btn btn-success"
    (click)="filterDirectors()"
  >
    Search
  </button>
</div>

<div class="container-fluid">
  <div class="col-12">
    <table class="table table-striped table-bordered text-center">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Photo Url</th>
          <th>Nationality</th>
          <th>Birth Date</th>
          <th>Biography</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of filteredDirectors">
          <td>{{ c.name }}</td>
          <td><img [src]="c.photo" alt="{{c.name}}" width="100"></td>
          <td>{{ c.nationality }}</td>
          <td>{{ c.birthDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ c.biography }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>